{% extends "base.html" %}

{% block title %}Find Collaborators - Collaberate{% endblock %}

{% block content %}
<h1>Find Collaborators</h1>
<p>Based on your skills: {{ current_user.skills }}</p>

<ul class="collaborator-list">
    {% for collaborator in collaborators %}
    <li>
        <a href="{{ url_for('profile', username=collaborator['user'].username) }}">
            {{ collaborator['user'].username }}
        </a>
        <span class="match-percentage">{{ collaborator['match_percentage'] }}% match</span>
        <p>Skills: {{ collaborator['user'].skills }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}